Here are the Assassin's Creed II System Requirements (Minimum)
CPU: Intel Core 2 Duo 1.8 GHz or AMD Athlon 64 X2 2.4 GHz
CPU SPEED: Intel Core 2 Duo 1.8 GHz or AMD Athlon 64 X2 2.4 GHz
RAM: 1.5 GB Windows XP / 2 GB Windows Vista - Windows 7
VIDEO CARD: 256 MB DirectX 9.0-compliant card with Shader Model 3.0 or higher (NVIDIA GeForce 7/8/9/100/200 series / ATI RADEON X1950, HD 2000/3000/4000/5000 series)
TOTAL VIDEO RAM: 256 MB
PIXEL SHADER: 3.0
VERTEX SHADER: 3.0
HARDWARE T&L: Yes
DIRECTX VERSION: DirectX 9.0
OS: Windows XP (32 and 64 bit) / Windows Vista (32 and 64 bit) / Windows 7 (32 and 64 bit)
FREE DISK SPACE: 8 GB
SOUND CARD: Yes
DVD-ROM: Yes
Assassin's Creed II Recommended Requirements
CPU: Intel Core 2 Duo E6700 2.6 GHz or AMD Athlon 64 X2 6000+ or better
RAM: 1.5 GB Windows XP / 2 GB Windows Vista - Windows 7
VIDEO CARD: NVIDIA GeForce 8800 GT or ATI Radeon HD 4700 or better
TOTAL VIDEO RAM: 512 MB
PIXEL SHADER: 3.0
VERTEX SHADER: 3.0
HARDWARE T&L: Yes
DIRECTX VERSION: DirectX 9.0
OS: Windows XP (32 and 64 bit) / Windows Vista (32 and 64 bit) / Windows 7 (32 and 64 bit)
FREE DISK SPACE: 8 GB
SOUND CARD: Yes
DVD-ROM: Yes