Here are the The Last of Us Part 1 System Requirements (Minimum)

CPU: AMD Ryzen 5 1500X, Intel Core i7-4770K
RAM: 16 GB
VIDEO CARD: AMD Radeon RX 470 (4 GB), AMD Radeon RX 6500 XT (4 GB), NVIDIA GeForce GTX 970 (4 GB), NVIDIA GeForce 1050 Ti (4 GB)
DEDICATED VIDEO RAM: 4096 MB
PIXEL SHADER: 5.1
VERTEX SHADER: 5.1
OS: Windows 10 (Version 1909 or Newer)
FREE DISK SPACE: 100 GB
Repack Size : from 39.5 GB
Final Size : 80 GB

The Last of Us Part 1 Recommended Requirements

CPU: AMD Ryzen 5 3600X, Intel Core i7-8700
RAM: 16 GB
VIDEO CARD: AMD Radeon RX 5700 XT (8 GB), AMD Radeon RX 6600 XT (8 GB), NVIDIA GeForce RTX 2070 SUPER (8 GB), NVIDIA GeForce RTX 3060 (8 GB)
DEDICATED VIDEO RAM: 8192 MB
PIXEL SHADER: 5.1
VERTEX SHADER: 5.1
OS: Windows 10 (Version 1909 or Newer)
FREE DISK SPACE: 100 GB
Repack Size : from 39.5 GB
Final Size : 80 GB