Here are the Cyberpunk 2077 System Requirements (Minimum)

CPU: Core i7-6700 or Ryzen 5 1600
RAM: 12 GB
VIDEO CARD: GeForce GTX 1060 6GB or Radeon RX 580 8GB or Arc A380
DEDICATED VIDEO RAM: 8 GB (6GB NVIDIA)
PIXEL SHADER: 5.0
VERTEX SHADER: 5.0
OS: Windows 10 64-bit
Repack Size : From 71.1 GB
Final Size : 153 GB

Cyberpunk 2077 Recommended Requirements

CPU: Core i7-12700 or Ryzen 7 7800X3D
RAM: 16 GB
VIDEO CARD: GeForce RTX 2060 SUPER or Radeon RX 5700 XT or Arc A770
DEDICATED VIDEO RAM: 8 GB
PIXEL SHADER: 5.1
VERTEX SHADER: 5.1
OS: Windows 10 64-bit
Repack Size : From 71.1 GB
Final Size : 153 GB