System Requirements
Minimum:

Requires a 64-bit processor and operating system
OS: Windows® 10, Windows® 11, 64bit
Processor: Intel® Core™ i5-8400、AMD Ryzen™ 5 3400G
Memory: 8 GB RAM
Graphics: GeForce GTX 1650 4GB、Radeon RX 570 4GB
DirectX: Version 12
Network: Broadband Internet connection
Storage: 60 GB available space
Sound Card: 16 bit stereo, 48kHz WAVE file can be played
Additional Notes: Based on an HDD, 720p, 30 fps environment, and Graphics Settings set to “Best Performance.”